@model List<FilmPortalı.Models.Films>
@foreach (var films in Model)
{
    <div class="film-box">
        <a href="/detay/@films.FSeo">
            <img data-src="@films.FPoster" class="film-poster" alt="@films.FName" />
        </a>
    </div>
}