
@model List<FilmPortalı.Models.Slider>
@{
    ViewBag.Title = "Yerli Yabancı HD Film İzle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider Start -->
<div class="container">
    <h1>Editörün Seçtikleri</h1>
    <div class="owl-carousel">
        @foreach (var slider in Model)
        {
            <div>
                <a href="/detay/@slider.Films.FSeo">
                    <img data-src="@slider.Films.FPoster" class="film-poster owl-lazy" alt="@slider.Films.FName" />
                </a>
            </div>
        }
    </div>
</div>
<!-- Slider End -->
<!-- Film Container Start -->
<div class="container">
    <h1>Son Eklenen Filmler</h1>
    <div class="film-wrapper">
        @{ Html.RenderAction("GetFilms", "Home");}
    </div>
    <button class="btn btn-more">Daha Fazla Film</button>
</div>
<!-- Film Container End -->
<input type="hidden" value="@ViewBag.Count" id="count" />
@section scripts{
    <script>
        var page = 0;

        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 6,
                lazyLoad: true,
                loop: true,
                margin: 10,
                nav: true,
                dots: true,
                autoPlay: true,
                autoPlayTimeout: 2000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        stagePadding: 50,
                        items: 1,
                        number:2,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 6,
                        nav: true,
                        loop: true
                    }
                }
            });

            var input = $("#count").val();
            var count = Math.round(input / 40);
            $(".btn-more").click(function () {
                page += 1;
                $(this).html("Yükleniyor...");
                $.ajax({
                    url: "/Home/GetFilms/" + page,
                    type: "GET",
                    success: function (data) {

                        $(".film-wrapper").append(data);
                        $(".btn-more").html("Daha Fazla Film");
                        if (page >= count - 1) {
                            $(".btn-more").hide();
                        }
                    },
                    error: function () { }
                });
            });

            
        });
    </script>


}