
@{
    ViewBag.Title = "Tur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Film Container Start -->
<div class="container">
    <h1>Son Eklenen Filmler</h1>
    <div class="sort-panel">
        <b>Sıralama şekli:</b> <a href="#">Ekleme Tarihi</a>-<a href="#" class="active">IMDB puanı</a>-<a href="#">İzlenme Sayısı</a>
    </div>
    <div class="film-wrapper">
        <div class="film-box">
            <a href="#">
                <img src="img/yol-arkadasim.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/esaretin-bedeli.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/fight_club.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/life.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/leon.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/salt.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/amelia.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/yol-arkadasim.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/esaretin-bedeli.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/fight_club.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/life.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/leon.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/salt.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/amelia.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/yol-arkadasim.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/esaretin-bedeli.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/fight_club.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/life.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/leon.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/salt.jpg" class="film-poster" />
            </a>
        </div>
        <div class="film-box">
            <a href="#">
                <img src="img/amelia.jpg" class="film-poster" />
            </a>
        </div>
    </div>
    <button class="btn btn-more">Daha Fazla Film</button>
</div>
<!-- Film Container End -->
